. bg-dark{
   
}
. navbar-brand{
    width: 50%;
    height: 20%;

}
. navbar-dark . navbar-nav . nav-link{
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}
. navbar-dark . navbar-nav . nav-item{
    margin: 0 15px;
}
. carousel-caption h3{
    font-size: 28px;
    
}