* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif
}

body {
  background: #ecf0f3
}

.num {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: -8px;
    left: 18px;
    width: 15px;
    height: 15px;
    font-size: 8px;
    background-color: #67971f;
    color: white
}

a.fas {
    position: relative;
    font-size: 20px;
    text-decoration: none;
    color: black
}


.fas.fa-phone {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #67971f
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.collapse.show{
    height: 430px;
    overflow-y: scroll;
}
.google{
  width: 200px; 
  background:linear-gradient(to right, rgb(233, 95, 95), rgb(248, 180, 90));
  padding: 5px;
  border-radius: 10px;
}
.google:hover{
  padding: 6px;
  background: linear-gradient(to right, rgb(247, 109, 109), rgb(252, 202, 111));
}
